%style
  :css
     /* hide optional parts of the template by default */
     .image, 
     .footer { 
       display:none; 
     }
     /* show them when the corresponding class is set on the outermost div */
     .show-image .image, 
     .show-footer .footer {
       display:block;
     }
  
.tile{:class => css_classes}
  .image
    = image
  .body
    = category
    %h2= title
    .text
      = text
  .footer
    = footer